{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article">
        <div class="uk-panel uk-panel-box">

            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/JnjgL5zuoHY.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>

            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">СМИ о Нас</h1>

            <ul class="ngp-article uk-list uk-list-striped">
                <li>
                    <figure class="uk-overlay uk-overlay-hover">
                        <div class="uk-grid uk-flex-middle" data-uk-scrollspy="{cls:'uk-animation-slide-right'}" data-uk-grid-margin>
                            <div class="uk-width-medium-1-3">
                                <img src="{% static 'basic/images/1441619986_oblozka_bk_august_2015_80x109mm.jpg' %}" width="" height="" alt="">
                            </div>

                            <div class="uk-width-medium-2-3">
                                <h3 class="uk-article-title">Деловой журнал "БИЗНЕС & КЛАСС"</h3>
                                <p class="uk-article-meta">Июль-август 2015. Стр. №2</p>
                                <p>
                                   Надежное, правильно организованное, гибкое проектно-изыскательное производство для нефтегазодобывающей отрасли - таков портрет НИПИ "Нефтегазпроект" - молодой компании со здоровыми амбициями.
                                </p>
                            </div>
                        </div>
                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon"></div>
                        <a class="uk-position-cover" href="{% static 'basic/images/mass_media_1.jpg' %}" data-uk-lightbox="{group:'group1'}" title=""></a>
                    </figure>
                </li>
{#                <li>#}
{#                    <div class="uk-grid uk-flex-middle" data-uk-scrollspy="{cls:'uk-animation-slide-left'}" data-uk-grid-margin>#}
{#                        <div class="uk-width-medium-1-2">#}
{#                            <p>#}
{#                                <strong>2.</strong>&nbsp;Мы работаем на результат – быть эффективным в работе старается каждый специалист. У нас не принято останавливаться на достигнутом! Мы всегда стремимся к большему.#}
{#                                Индивидуальный подход к каждому Клиенту – не просто слова.#}
{#                                Разрабатывая проекты, мы учитываем существующие возможности, перспективы развития вашего производства. Мы помогаем вашему бизнесу в достижении стратегических целей.#}
{#                            </p>#}
{#                        </div>#}
{##}
{#                        <div class="uk-width-medium-1-2">#}
{#                            <img src="{% static 'basic/images/8M7A7617.jpg' %}" width="" height="" alt="">#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
