{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/comanda222.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Карьера</h1>

            <p class="ngp-text-indent">
                Каждый день в нашей Компании появляются новые интересные и сложные задачи. Для их решения мы привлекаем талантливых людей. Еще три года назад в коллективе трудилось чуть более сотни человек, а уже в начале 2016 года планируется довести численность персонала НИПИ «Нефтегазпроект» до 450 человек.
            </p>

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                У нас работают  молодые специалисты, вчерашние студенты ТюмГНГУ и умудренные опытом профессионалы-производственники, причастные к громким стройкам известных газовых и нефтяных промыслов Западной Сибири. Это они сегодня учат молодежь, как добиваться того, чтобы каждый следующий проект был на порядок лучше предыдущего. Формируя команду, мы рассматриваем каждое резюме не формально: нас интересует, в первую очередь, личность, а не профессия! Таким образом, каждый может стать частью нашей команды. Если вы осознали свой выбор, мы создадим все условия для плодотворной и эффективной профессиональной самореализации.
            </p>
        </div>
    </div>
</div>

{% endblock %}
