{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}
<script type="text/javascript">var map1;DG.then(function(){map1=DG.map('map1',{center: [57.1452,65.5803],zoom:17});DG.marker([57.1452,65.5803]).addTo(map1).bindPopup('<img src=\"http://mini.api.2gis.ru/upload/images/ver_0/ce/a7c282f37103e69c80.png\" width=\"200\" height=\"50\" />\nТел./факс:<br>+7(3452)69-99-13; 69-99-73; 69-99-74<br>e-mail: info@nipingp.ru').openPopup();});</script>

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div>
{#<a class="dg-widget-link" href="http://2gis.ru/tyumen/firm/70000001007192336/center/65.55868183012923,57.158693511806696/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Тюмени</a><div class="dg-widget-link"><a href="http://2gis.ru/tyumen/center/65.5588,57.157907/zoom/16/routeTab/rsType/bus/to/65.5588,57.157907╎Нефтегазпроект, ООО, научно-исследовательский проектный институт?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Нефтегазпроект, ООО, научно-исследовательский проектный институт</a></div><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":"100%","height":400,"borderColor":"#a3a3a3","pos":{"lat":57.158693511806696,"lon":65.55868183012923,"zoom":16},"opt":{"city":"tyumen"},"org":[{"id":"70000001007192336"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>#}
                <div id="map1" style="width:100%; height:500px"></div>
{#                <a id="2gis_mini_biglink" title="Организации Тюмени" href="http://maps.2gis.ru/#/?history=project/tyumen/center/65.580412907054,57.145312165298/zoom/17/">Перейти к большой карте</a>#}
{#<noscript id="dg-widget-minigis-place-6325ff2d" style="color:#c00;font-size:16px;font-weight:bold;">#}
{#    Код для вставки виджета на сайт#}
{#</noscript>#}
{#<script src="http://mini.api.2gis.ru/js/ver_5ad5685/loader.js"></script>#}
{#<script type="text/javascript">#}
{#    new DG.Widget.Components.Loader({#}
{#        wid: '6325ff2d',#}
{#        params: {"projectSelector":{"id":13,"code":"tyumen","name":"Тюмень","centroid":"POINT(65.539874 57.152203)"},"search":{"rubrics":{"list":[]},"_searchFirmBasePoint":{"lon":"65.58041","lat":"57.14531"},"searchBasePointName":"Тюмень, Тюменский государственный нефтегазовый университет"},"customBalloon":{"content":"<img src=\"http://mini.api.2gis.ru/upload/images/ver_1/e6/e8e05ed979ffd1873d.png\" width=\"200\" height=\"51\" />\nТел./факс:<br>+7(3452)69-99-13; 69-99-73; 69-99-74<br>e-mail: info@nipingp.ru"},"Map":{"zoom":17,"lon":65.580412907054,"lat":57.145312165298,"customBalloon":true,"customBallonHidden":false},"resize":{"w":884,"h":400}}    });#}
{#</script>#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Контакты</h1>

            <div class="uk-panel uk-margin-left">
                <dl class="uk-description-list-horizontal footer-adress">
                    <dt>Телефон:</dt><dd>+7 (3452) 69-99-13</dd>
                    <dt>Факс:</dt><dd>69-99-73; 69-99-74</dd>
                    <hr/>
                    <dt>E-mail:</dt><dd>info@nipingp.ru</dd>
                    <hr/>
                    <dt>Фактический адрес:</dt><dd>625027, г. Тюмень, ул.Мельникайте,д.70 (здание ТюмГНГУ), 4 эт., приемная - каб. 412</dd>
                    <dt>Почтовый адрес:</dt><dd>625027, г. Тюмень, ул. Мельникайте, д. 70</dd>
                    <dt>Юридический адрес:</dt><dd>625014, г. Тюмень, ул. Республики, д. 252, стр. 38</dd>
                </dl>
            </div>

            <div class="ngp-projects uk-grid uk-margin-medium-top">
                <div class="uk-width-medium-1-3">

                    <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tab-left-content'}">
                        <li><a href="#">Реквизиты организации</a></li>
                        <li><a href="#">Банковские реквизиты</a></li>
                    </ul>

                </div>
                <div class="uk-width-medium-2-3">

                    <ul id="tab-left-content" class="uk-switcher">
                        <li>
                            <dl class="uk-description-list-horizontal">
                                <dt>ИНН</dt>
                                <dd>
                                    7202234780
                                </dd>
                                <hr/>
                                <dt>КПП</dt>
                                <dd>
                                    720301001
                                </dd>
                                <hr/>
                                <dt>ОГРН</dt>
                                <dd>
                                    1127232036711
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="uk-description-list-horizontal">
                                <dt>Р/С</dt>
                                <dd>
                                    40702810100990005862
                                </dd>
                                <dd>
                                    в «Запсибкомбанк» ПАО г.Тюмень
                                </dd>
                                <hr/>
                                <dt>К/С</dt>
                                <dd>
                                    30101810271020000613
                                </dd>
                                <hr/>
                                <dt>БИК</dt>
                                <dd>
                                    047102613
                                </dd>
                            </dl>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
