{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/11111.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Ключевые компетенции</h1>

            <p class="ngp-text-indent">
                Отдел экологии НИПИ «Нефтегазпроект» ведет деятельность по разработке нормативно-технической и экологической документации на обустройство газовых, газоконденсатных, нефтяных месторождений:
            </p>

            <ul class="uk-list uk-list-space" style="padding-left: 50px;">
                <li>- проводит оценку воздействия на окружающую среду;</li>
                <li>- разрабатывает мероприятия по охране окружающей среды;</li>
                <li>- разрабатывает проекты рекультивации нарушенных земель, включающих мероприятия по восстановлению их плодородия, осуществляемые после технического этапа рекультивации;</li>
                <li>- проводит расчет ущерба рыбному хозяйству;</li>
                <li>- выполняет экологическое сопровождение проектной документации в надзорных органах и вышестоящих инстанциях.</li>
            </ul>

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Каждый из хозяйственных объектов, который реконструируется или строится в рамках экологического проектирования, в первую очередь, оценивают относительно того, как он будет влиять на все компоненты окружающей среды. Предусматриваются природоохранные мероприятия для снижения воздействия на окружающую среду и обеспечения экологической безопасности. Также определяется объем инвестиций, которые потребуются на проведение природоохранных мероприятий.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/DSC_2184.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Указанные разделы являются составной частью проектной документации и определяют условия реализации проектных решений и хозяйственной деятельности на территориях.  Стоит отметить, что экологическое проектирование – это не только разработка проектной документации, но и проведение процедуры её согласования в надзорных органах и инстанциях, с последующим получением заключений и соответствующих разрешений этих контролирующих органов.  Все «экологические» разделы рассматриваются в составе проектной документации в органах Главгосэкспертизы.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/eko.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Экологическая экспертиза устанавливает соответствие намечаемой хозяйственной и иной деятельности экологическим требованиям и определение допустимости реализации объекта эко¬логической экспертизы в целях предупреждения возможных неблагоприятных воздействий этой деятельности на окружаю¬щую среду и связанных с ними социальных, экономических и иных последствий реализации объекта экологической экс¬пертизы. В частности, она определяет, не противоречит ли намечаемая деятельность экологическому законодательству РФ или субъектов РФ, соответствует ли намечаемая деятельность требованиям нор¬мативных актов по охране окружающей среды и рационально¬му использованию природных ресурсов, достаточно ли полно произведена оценка воздействия намечаемой деятельности на окружающую среду, допустима ли намечаемая деятельность с точки зрения безопасности окружающей среды и населения, достаточны ли предусмотренные проектом меры по охране окружающей среды и рациональному использованию природных ресурсов. Основной вопрос, на который должна ответить государственная экспертиза, — это возможность реализации проекта либо его отправка на доработку, в соответствии с обнаруженными замечаниями.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/89.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">
            <p class="ngp-text-indent">
                Кроме того, отделом экологии НИПИ «Нефтегазпроект» осуществляются взаимоотношения с Федеральными природоохранными органами: Управлением Росприроднадзора по Тюменской области; Управлением Росприроднадзора в ХМАО; Управлением Росприроднадзора в ЯНАО; Центральным аппаратом Росприроднадзора Москвы;  Нижнеобским территориальным управлением Федерального агентства по рыболовству (Росрыболовство); Департаментом природно-ресурсного регулирования, лесных отношений и развития нефтегазового комплекса ЯНАО,  Департаментом природных ресурсов и несырьевого сектора экономики ХМАО.
            </p>

        </div>
    </div>
</div>

{% endblock %}
