{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/48.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Экология</h1>

            <p class="uk-article-lead ngp-text-indent">
                Сохранение благоприятной окружающей среды и природных ресурсов – один из главных принципов деятельности НИПИ «Нефтегазпроект».
            </p>

            <hr class="uk-article-divider">

            <p>
                Компания в полной мере осознает ответственность за сохранение природы и стремится постоянно совершенствовать деятельность в области экологической безопасности. Никакие соображения экономического, технического характера не могут быть приняты во внимание, если они противоречат необходимости обеспечения безопасности окружающей природы. Наша основная задача при проектировании объектов нефтегазовой инфраструктуры – это разработка технических решений, отвечающих требованиям природоохранных норм, обеспечивающих безопасную для окружающей среды, жизни и здоровья людей эксплуатацию объектов.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/678.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Проектирование каждого объекта мы начинаем с комплексной оценки существующего состояния природной среды. Прежде всего, экологи проводят лабораторный анализ проб всех ее компонентов, собирают сведения о возможном наличии особо охраняемых природных территорий, территорий традиционного природопользования коренных народов, краснокнижных видов животных и растений.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/oleni.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                При разработке проектной документации специалисты отдела экологии дают оценку воздействию промышленной инфраструктуры на окружающую среду. И разрабатывают конкретные мероприятия, направленные на снижение антропогенной нагрузки, сохранение биологического и ландшафтного разнообразия территории и предупреждение возможного загрязнения природной среды.
            </p>

            <hr class="uk-article-divider">

            <img src="{% static 'basic/images/3.jpg' %}" width="" height="" alt="">

            <hr class="uk-article-divider">
            <p class="ngp-text-indent">
                Так, с целью снижения количества буровых отходов и воздействия на окружающую среду проектными решениями НИПИ «Нефтегазпроект»  генеральный заказчик нашей компании ООО «ЛУКОЙЛ-Западная Сибирь» внедрил Технологию использования буровых отходов для приготовления материала строительного грунта, пригодного для рекультивации. Нашими экологами была разработана проектная документация на строительство четырех  специализированных полигонов по размещению и переработке отходов бурения и нефтезагрязненных отходов на месторождениях ХМАО.
            </p>

        </div>
    </div>
</div>

{% endblock %}
