{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
{#        <p class="uk-article-lead ngp-text-indent">ООО «НИПИ «Нефтегазпроект» создано в 2011 году при поддержке Тюменского государственного нефтегазового университета.</p>#}
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/istoria.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">История компании</h1>
            <p class="uk-margin-medium-top ngp-text-indent">
                ООО «НИПИ «Нефтегазпроект» создано в 2011 году при поддержке Тюменского государственного нефтегазового университета.
                Руководство компании «ЛУКОЙЛ» приняло решение о передаче блока проектно-изыскательских работ в профильный вуз.
                У истоков создания современной инновационной  компании стояла группа инженеров,
                объединенная идеей обеспечения нефтегазодобывающего комплекса качественной проектной документацией,
                которая учитывает современный этап развития технологий, использует новейшие достижения науки и техники,
                отвечающий нормам экологической и промышленной безопасности. Являясь дочерней компанией ТюмГНГУ,
                научно-исследовательский институт «Нефтегазпроект» имеет возможность использовать в своей деятельности всю инфраструктуру
                и интеллектуальный потенциал крупнейшего образовательного учреждения региона.
            </p>
        </div>
    </div>
</div>

{% endblock %}
