{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/Gudkin_and_Germans.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Партнерство</h1>

            <p class="uk-article-lead ngp-text-indent">Мы нацелены на долгосрочные отношения и создаем для этого все условия.</p>

            <hr class="uk-article-divider">

            <p class="uk-text-center uk-margin-medium-top uk-margin-bottom uk-h3">
                Наши заказчики:
            </p>
    {#        <div class="uk-width-1-4 uk-container-center">#}
    {#            <ul class="uk-list uk-list-line">#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ-Западная Сибирь»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Урайнефтегаз</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Лангепаснефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Когалымнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Покачевнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Повхнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Ямалнефтегаз»</li>#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ-Пермь»</li>#}
    {#                <li class="uk-text-bold">ОАО АК «Транснефть»</li>#}
    {#                <li class="uk-text-bold">ООО «ГСИ – Гипрокаучук»</li>#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ ЭПУ Сервис»</li>#}
    {#            </ul>#}
    {#        </div>#}
            <div class="uk-accordion" data-uk-accordion>
                <h3 class="uk-accordion-title">ООО «ЛУКОЙЛ-Западная Сибирь»</h3>
                <div class="uk-accordion-content">
                    <ul class="uk-list uk-list-space" style="padding-left: 30px;">
                        <li>- ТПП «Урайнефтегаз</li>
                        <li>- ТПП «Лангепаснефтегаз»</li>
                        <li>- ТПП «Когалымнефтегаз»</li>
                        <li>- ТПП «Покачевнефтегаз»</li>
                        <li>- ТПП «Повхнефтегаз»</li>
                        <li>- ТПП «Ямалнефтегаз»</li>
                    </ul>
                </div>

                <h3 class="uk-accordion-title">ООО «ЛУКОЙЛ-Пермь»</h3>

                <h3 class="uk-accordion-title">ОАО АК «Транснефть»</h3>

                <h3 class="uk-accordion-title">ООО «ГСИ – Гипрокаучук»</h3>

                <h3 class="uk-accordion-title">ООО «ЛУКОЙЛ ЭПУ Сервис»</h3>

                <h3 class="uk-accordion-title">ООО «ЛУКОЙЛ ЭПУ Сервис»</h3>

                <h3 class="uk-accordion-title">ТПП "ЛУКОЙЛ-Усинскнефтегаз"</h3>

                <h3 class="uk-accordion-title">ООО "Газпром геологразведка"</h3>
            </div>
        </div>

        <hr class="uk-article-divider">

        <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid-margin>
            <div>
                <a href="{% static 'basic/images/review_1.jpg' %}" data-uk-lightbox="{group:'group1'}" title="">
                    <img src="{% static 'basic/images/review_1.jpg' %}" width="" height="" alt="">
                </a>
            </div>
            <div>
                <a href="{% static 'basic/images/review_2.jpg' %}" data-uk-lightbox="{group:'group1'}" title="">
                    <img src="{% static 'basic/images/review_2.jpg' %}" width="" height="" alt="">
                </a>
            </div>
            <div>
                <a href="{% static 'basic/images/review_3.jpg' %}" data-uk-lightbox="{group:'group1'}" title="">
                    <img src="{% static 'basic/images/review_3.jpg' %}" width="" height="" alt="">
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock %}
