{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/20140617_151210.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Ключевые проекты</h1>

            <p class="ngp-text-indent">
                География рынка работ НИПИ «Нефтегазпроект» распространяется по всей территории разработок нефтегазовых месторождений Западной Сибири». Наши основные заказчики: ООО «ЛУКОЙЛ-Западная Сибирь» (ТПП «Урайнефтегаз, ТПП «Лангепаснефтегаз», ТПП «Когалымнефтегаз», ТПП «Покачевнефтегаз», ТПП «Повхнефтегаз», ТПП «Ямалнефтегаз»), ООО «ЛУКОЙЛ-Пермь», ОАО АК «Транснефть», ООО «ГСИ – Гипрокаучук», ООО «ЛУКОЙЛ ЭПУ Сервис».
            </p>

            <p class="ngp-text-indent">
                За три года работы мы успешно реализовали проекты на объектах Нивагальского месторождения, Потанай-Картопьинского, Пайтыхского, Западно–Семивидовского, Яхлинского, Каменного, Западно-Тугровского лицензионных участков. Сегодня НИПИ «Нефтегазпроект» принимает участие в судьбе «звезд» газовой инвестпрограммы «ЛУКОЙЛа»: Находкинского, Присклонового, Северо-Губкинского месторождений, и Пякяхинского промысла, где ведется активное строительство. В частности, специалистами института разработаны проекты «Транспорт природного газа Большехетской впадины», «Строительство эксплуатационных газоконденсатных скважин Пякяхинского месторождения», «Обустройство эксплуатационных кустов скважин Находкинского газового месторождения».
            </p>

            <hr class="uk-article-divider">

            <div class="ngp-projects uk-grid">
                <div class="uk-width-medium-1-3">

                    <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tab-left-content'}">
                        <li><a href="#">Месторождения, объекты которого проектировались специалистами НИПИ «Нефтегазпроект»</a></li>
                        <li><a href="#">Проекты, реализованные в 2014-2015 гг.</a></li>
                        <li><a href="#">Объекты, в проектировании которых принимали участие специалисты НИПИ «Нефтегазпроект», будучи сотрудниками других организаций</a></li>
                    </ul>

                </div>
                <div class="uk-width-medium-2-3">

                    <ul id="tab-left-content" class="uk-switcher">
                        <li>
                            <dl class="uk-description-list-horizontal">
                                <dt>ООО «Лукойл-Западная Сибирь»:</dt>
                                <dd>
                                    Северо-Губкинское, Нивагальское, Малоключевой, Лась-Еганское, Поточное, Покамасовое, Южно-Покачевское, Западно-Тугровское, Урьевское, Даниловское, Лазаревское, Ловинское, Мортымья-Тетеревское, Сыморьяхинское, Толумское, Шушминское, Филипповское, Западно-Новомостовское, Красноленинское, Северо-Семидовское, Убинское
                                </dd>
                                <hr/>
                                <dt>ООО «ЛУКОЙЛ-Пермь»:</dt>
                                <dd>
                                    Курбатовское, Таныпсоке, Пихтовое, Ольховское, Опахинское, Падунское, Безерозвское, Ярино-Каменоложское, Горское, Маячное, Осинское
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <ul class="uk-list uk-list-striped">
                                <li>объекты Нивагальского месторождения</li>
                                <li>объекты Потанай-Картопьинского  лицензионного участка</li>
                                <li>объекты Пайтыхского лицензионного участка</li>
                                <li>объекты Западно-Семивидовского лицензионного участка</li>
                                <li>объекты Яхлинского лицензионного участка</li>
                                <li>объекты Каменного (Восточная часть) лицензионного участка</li>
                                <li>объекты Западно-Тугровского лицензионного участка</li>
                            </ul>
                        </li>
                        <li>
                            <p class="ngp-text-indent">
                                Верхнечонское месторождение (ОАО «ТНК-ВР»), Ванкорское, Тарасовское, Усть-Харампурское месторожденичя  (ОАО «Роснефть»), Спорышевское, Среднетурское, Вынгаяхинское, Сугмутское, Западно-Ноябрьское, Пограничное, Карамовское, Муравленковское, Суторминское месторождения (ОАО «Газпромнефть-Ноябрьскнефтегаз»), Крапивинское (ОАО «Газпромнефть-Восток»), Восточно-Таркосалинское (ООО «Новатэк-Таркосаленефтегаз»), Ямбургское, Ямсовейское, Медвежье, Уренгойское, Новопортовское, Губкинское, Комсомольское, Лобачевское, Миролюбовское месторождения (ПАО «Газпром»).
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
