{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/322.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Услуги</h1>

            <p class="uk-article-lead ngp-text-indent">Компания выполняет полный цикл проектно-изыскательских работ:</p>

            <hr class="uk-article-divider">

            <div class="ngp-services uk-grid-width-1-3" data-uk-grid="{gutter: 20}" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}">
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Оформление правоустанавливающих документов на земельные участки под строительство</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка генеральных планов обустройства месторождений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка схемы планировочной организации земельных участков</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технико-технологических решений обустройства месторождений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проектирование реконструкции объектов нефтедобычи, ДНС, баз производственного обслуживания</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проекта организации строительства</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проекта организации работ по реконструкции объектов нефтедобычи</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технологических и конструктивных решений линейного объекта</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка мероприятий по охране окружающей среды</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка мероприятий по обеспечению пожарной безопасности</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проектов полосы отвода линейных объектов: ЛЭП, трубопроводов, автодорог</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технологических и конструктивных решений линейного объекта</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение инженерно-геологических, инженерно-гидрометеорологических, инженерно-экологических изысканий</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка проектной, конструкторской, рабочей, нормативной документации</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение экспертизы научно-исследовательских  и проектно-изыскательских работ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Обследование существующих конструкций</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка и снос зданий, производство земляных работ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение научно-исследовательских и проектных работ в области охраны окружающей среды и рационального природопользования</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Монтаж инженерного оборудования зданий и сооружений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Осуществление авторского надзора за строительством</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
