{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/322.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Услуги</h1>

            <p class="uk-article-lead ngp-text-indent">Компания выполняет полный цикл проектно-изыскательских работ:</p>

            <hr class="uk-article-divider">

    {#        <div class="uk-width-1-4 uk-container-center">#}
    {#            <ul class="uk-list uk-list-line">#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ-Западная Сибирь»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Урайнефтегаз</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Лангепаснефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Когалымнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Покачевнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Повхнефтегаз»</li>#}
    {#                <li style="padding-left: 30px;">- ТПП «Ямалнефтегаз»</li>#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ-Пермь»</li>#}
    {#                <li class="uk-text-bold">ОАО АК «Транснефть»</li>#}
    {#                <li class="uk-text-bold">ООО «ГСИ – Гипрокаучук»</li>#}
    {#                <li class="uk-text-bold">ООО «ЛУКОЙЛ ЭПУ Сервис»</li>#}
    {#            </ul>#}
    {#        </div>#}
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Оформление правоустанавливающих документов на земельные участки под строительство</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка генеральных планов обустройства месторождений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка схемы планировочной организации земельных участков</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технико-технологических решений обустройства месторождений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проектирование реконструкции объектов нефтедобычи, ДНС, баз производственного обслуживания</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проекта организации строительства</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
{#            <img src="{% static 'basic/images/DSC_2213.jpg' %}" width="" height="" alt="">#}
{#            <hr class="uk-grid-divider">#}
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проекта организации работ по реконструкции объектов нефтедобычи</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технологических и конструктивных решений линейного объекта</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка мероприятий по охране окружающей среды</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка мероприятий по обеспечению пожарной безопасности</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Подготовка проектов полосы отвода линейных объектов: ЛЭП, трубопроводов, автодорог</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка технологических и конструктивных решений линейного объекта</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
{#            <img src="{% static 'basic/images/025.jpg' %}" width="" height="" alt="">#}
{#            <hr class="uk-grid-divider">#}
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение инженерно-геологических, инженерно-гидрометеорологических, инженерно-экологических изысканий</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение научно-исследовательских и проектных работ в области охраны окружающей среды и рационального природопользования</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка проектной, конструкторской, рабочей, нормативной документации</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
{#            <img src="{% static 'basic/images/231.jpg' %}" width="" height="" alt="">#}
{#            <hr class="uk-grid-divider">#}
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Проведение экспертизы научно-исследовательских  и проектно-изыскательских работ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Обследование существующих конструкций</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Разработка и снос зданий, производство земляных работ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-grid-divider">
            <div class="ngp-services uk-grid uk-grid-small uk-grid-width-1-3 uk-flex-center uk-grid-match" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid-margin>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Монтаж инженерного оборудования зданий и сооружений</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-panel uk-panel-box uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-middle">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
    {#                            <h2 class="uk-h3">Sample Heading</h2>#}
                                <p>Осуществление авторского надзора за строительством</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{#            <hr class="uk-article-divider">#}
{##}
{#            <div class="uk-accordion" data-uk-accordion>#}
{#                <h5 class="uk-accordion-title">- Оформление правоустанавливающих документов на земельные участки под строительство;</h5>#}
{##}
{#                <h5 class="uk-accordion-title">- Разработка генеральных планов обустройства месторождений;</h5>#}
{##}
{#                <h3 class="uk-accordion-title">- Подготовка схемы планировочной организации земельных участков;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка технико-технологических решений обустройства месторождений;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Проектирование реконструкции объектов нефтедобычи, ДНС, баз производственного обслуживания;</h3>#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <img src="{% static 'basic/images/DSC_2213.jpg' %}" width="" height="" alt="">#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <h3 class="uk-accordion-title">- Подготовка проекта организации строительства;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Подготовка проекта организации работ по реконструкции объектов нефтедобычи;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка технологических и конструктивных решений линейного объекта;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка мероприятий по охране окружающей среды;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка мероприятий по обеспечению пожарной безопасности;</h3>#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <img src="{% static 'basic/images/025.jpg' %}" width="" height="" alt="">#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <h3 class="uk-accordion-title">- Подготовка проектов полосы отвода линейных объектов: ЛЭП, трубопроводов, автодорог;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка технологических и конструктивных решений линейного объекта;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Проведение инженерно-геологических, инженерно-гидрометеорологических, инженерно-экологических изысканий;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Проведение научно-исследовательских и проектных работ в области охраны окружающей среды и рационального природопользования;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка проектной, конструкторской, рабочей, нормативной документации;</h3>#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <img src="{% static 'basic/images/231.jpg' %}" width="" height="" alt="">#}
{##}
{#                <hr class="uk-article-divider">#}
{##}
{#                <h3 class="uk-accordion-title">- Проведение экспертизы научно-исследовательских  и проектно-изыскательских работ;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Обследование существующих конструкций;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Разработка и снос зданий, производство земляных работ;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Монтаж инженерного оборудования зданий и сооружений;</h3>#}
{##}
{#                <h3 class="uk-accordion-title">- Осуществление авторского надзора за строительством.</h3>#}
{#            </div>#}
        </div>

    </div>
</div>

{% endblock %}
