{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/student.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Социальная ответственность</h1>

            <p class="uk-article-lead ngp-text-indent">
                Взять курс на развитие социального партнерства и привлечь к участию в профессиональной подготовке будущих специалистов сам бизнес – только так можно значительно повысить уровень подготовки выпускников и наладить «производство» дипломированных специалистов именно тех профилей, в которых нуждается рынок труда.
            </p>

            <hr class="uk-article-divider">

            <p>
                Это отчетливо понимают в ведущем техническом вузе региона – Тюменском государственном нефтегазовом университете. Именно там три года назад зародился и успешно развивается подобный, в своём роде уникальный, проект. На базе вуза опытными производственниками была создано наше предприятие. Инновационная структура – НИПИ «Нефтегазпроект» - в рамках неё сегодня активно осуществляется взаимодействие науки и бизнеса.
            </p>

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Проектный институт активно привлекает к решению прикладных производственных задач студентов вуза. Более того, производственники остро нуждаются в притоке свежих сил, мобильных трудовых ресурсов – студентов старших курсов, обучающихся на кафедрах кадастра и геоинформационных систем, транспорта углеводородных ресурсов, эксплуатации автомобильного транспорта, электроэнергетики, техносферной безопасности. В НИПИ «Нефтегазпроект» специально для студентов ТюмГНГУ действует программа резерва кадров. Ежегодно более 30 ребят могут попасть на стажировку к опытным проектировщикам с возможностью дальнейшего трудоустройства на предприятии. Кроме того, по собственной инициативе студенты могут пройти в разных отделах предприятия студенческую практику: каждый год около 20 человек выбирают НИПИ «Нефтегазпроект» в качестве площадки для своего первого трудового опыта.
            </p>
            <p class="ngp-text-indent">
                Наиболее одаренные и перспективные ребята, участвующие в проектировании промышленных объектов со студенческой скамьи, в дальнейшем имеют возможность построить блестящую карьеру в нашей динамичной и современной компании.
            </p>
            <p class="ngp-text-indent">
                Заинтересованных в дальнейшем профессиональном развитии студентов  ждут в отделе организации инженерных изысканий, отделе проектирования систем электроснабжения, в отделе спецразделов проекта, отделе сбора и транспорта нефти и газа, отделе проектирования автодорог и искусственных сооружений.
            </p>
            <p class="ngp-text-indent uk-text-bold"></p>
        </div>
    </div>
</div>

{% endblock %}
