{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/8M7A7617.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">С нами надежно</h1>

            <p class="uk-article-lead ngp-text-indent">
                Безопасность для каждой компании и для каждого отдельно взятого человека – залог уверенности в завтрашнем дне,  в стабильном будущем.
            </p>

            <hr class="uk-article-divider">

            <p>
                Именно поэтому она становится приоритетным направлением в ведении самых разных сфер бизнеса.
                Соблюсти все стандарты безопасности – важнейшая задача для сотрудников НИПИ «Нефтегазпроект».
                Наше предприятие, предоставляющее услуги в сфере разработки проектной документации и инженерных изысканий, постоянно работает над повышением качества проектов.
                Основную ставку мы делаем на соблюдении норм и правил промышленной и экологической безопасности.
            </p>

            <hr class="uk-article-divider">

            <p class="ngp-text-indent">
                Наш институт имеет все необходимые разрешительные документы.
                Получены свидетельства о допуске к разным видам работ, которые оказывают влияние на безопасность объектов капитального строительства: СРО-И-007-30112009, СРО-П-026-17092009.
                Проектная документация, разработанная НИПИ «Нефтегазпроект» получила более 500 положительных заключений разных уровней экспертиз: Главгосэкспертиза, Госэкспертиза, Главная экологическая экспертиза,
                Экспертиза промбезопасности. На предприятии внедрена и развивается система менеджмента качества.
            </p>
        </div>

        <hr class="uk-article-divider">

        <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid-margin>
            <div>
                <a href="{% static 'basic/images/SRO_OOO_I-007_from_13.03.2015_page_1.jpg' %}" data-uk-lightbox="{group:'group1'}" title="">
                    <img src="{% static 'basic/images/SRO_OOO_I-007_from_13.03.2015_page_1.jpg' %}" width="" height="" alt="">
                </a>
                <a href="{% static 'basic/images/SRO_OOO_I-007_from_13.03.2015_page_2.jpg' %}" data-uk-lightbox="{group:'group1'}" title=""></a>
                <a href="{% static 'basic/images/SRO_OOO_I-007_from_13.03.2015_page_3.jpg' %}" data-uk-lightbox="{group:'group1'}" title=""></a>
                <a href="{% static 'basic/images/SRO_OOO_I-007_from_13.03.2015_page_4.jpg' %}" data-uk-lightbox="{group:'group1'}" title=""></a>
            </div>
            <div>
                <a href="{% static 'basic/images/SRO_OOO_P-2015-003_from_26.02.2015_page_1.jpg' %}" data-uk-lightbox="{group:'group2'}" title="">
                    <img src="{% static 'basic/images/SRO_OOO_P-2015-003_from_26.02.2015_page_1.jpg' %}" width="" height="" alt="">
                </a>
                <a href="{% static 'basic/images/SRO_OOO_P-2015-003_from_26.02.2015_page_2.jpg' %}" data-uk-lightbox="{group:'group2'}" title=""></a>
                <a href="{% static 'basic/images/SRO_OOO_P-2015-003_from_26.02.2015_page_3.jpg' %}" data-uk-lightbox="{group:'group2'}" title=""></a>
                <a href="{% static 'basic/images/SRO_OOO_P-2015-003_from_26.02.2015_page_4.jpg' %}" data-uk-lightbox="{group:'group2'}" title=""></a>
            </div>
            <div>
                <a href="{% static 'basic/images/SMK_page_1.jpg' %}" data-uk-lightbox="{group:'group3'}" title="">
                    <img src="{% static 'basic/images/SMK_page_1.jpg' %}" width="" height="" alt="">
                </a>
                <a href="{% static 'basic/images/SMK_page_2.jpg' %}" data-uk-lightbox="{group:'group3'}" title=""></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
