{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/komanda1.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>

            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Вакансии</h1>

{#            <p class="uk-article-lead ngp-text-indent">Мы нацелены на долгосрочные отношения и создаем для этого все условия.</p>#}

            <hr class="uk-article-divider">

            <div class="uk-accordion" data-uk-accordion>
                {% for vacancy in vacancies_list %}
                    <h3 class="uk-accordion-title">{{ vacancy.title }}</h3>
                    <div class="uk-accordion-content">
                        <p>{{ vacancy.description }}</p>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{% endblock %}
