{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article">
        <div class="uk-panel uk-panel-box">

            <div class="uk-cover-background ngp-cover-background" style="background-image: url({% static 'basic/images/188649_1434469586_1.jpg' %});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>

            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Ценности</h1>

            <ul class="uk-list uk-list-striped">
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
                        <p>
                           <strong>1.</strong>&nbsp;Мы разделяем мнение, что успех – это не цель, а процесс достижения целей. И потому мы стремимся быть лучшими во всем.
                        </p>
                    </div>
                </li>
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
                        <p>
                            <strong>2.</strong>&nbsp;Мы работаем на результат – быть эффективным в работе старается каждый специалист. У нас не принято останавливаться на достигнутом! Мы всегда стремимся к большему.
                            Индивидуальный подход к каждому Клиенту – не просто слова.
                            Разрабатывая проекты, мы учитываем существующие возможности, перспективы развития вашего производства. Мы помогаем вашему бизнесу в достижении стратегических целей.
                        </p>
                    </div>
                </li>
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
                        <p>
                            <strong>3.</strong>&nbsp;Мы приветствуем  рост, обучение, инициативу, нестандартные идеи и подходы. Мы открыты всему новому.  Высказываем свое мнение и уважаем мнение других.
                            Мы готовы предложить вам оптимальные инновационные решения сложных технических вопросов, новые современные технологии на производстве.
                            Это возможно потому, что наша деятельность интегрирована в работу Тюменского государственного нефтегазового университета.
                            В распоряжении проектного института – широкие компетенции научно-проектного сектора вуза (преподавательского состава)  и мобильные трудовые ресурсы – студенты.
                            Наиболее одаренные и перспективные ребята, участвующие в проектировании промышленных объектов со студенческой скамьи, в дальнейшем имеют возможность построить блестящую карьеру в нашей динамичной и современной компании.
                        </p>
                    </div>
                </li>
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
                        <p>
                            <strong>4.</strong>&nbsp;Принимая решение или совершая действие, мы используем только достоверную информацию и опираемся на факты.
                            Каждый сотрудник нашей компании знает, что вместе мы делаем очень важное и нужное дело: создаем безопасное и эффективное производство в нефтегазовой отрасли.
                        </p>
                    </div>
                </li>
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
                        <p>
                            <strong>5.</strong>&nbsp;Мы действуем честно, руководствуясь интересами компании, принципами корпоративной этики в своей работе.
                            Работая в одной команде, мы всегда рады приветствовать в нашем коллективе тех, кто творчески и нешаблонно мыслит.
                            Мы принимаем и поощряем изменения.
                        </p>
                    </div>
                </li>
                <li>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
                        <p>
                            <strong>6.</strong>&nbsp;Наш коллектив – команда профессионалов. Увлеченные и решительные. Компетентные и уверенные.
                            Участвуя в любом проекте, мы стремимся помочь сделать большее меньшими средствами.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
