{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}

{% block content %}

<div class="ngp-container ngp-container-center">
    <div class="uk-article" style="min-height: 500px;">
        <div class="uk-panel uk-panel-box">
            <div class="uk-cover-background ngp-cover-background" style="background-image: url({{ selected_album.get_main_image.picture.url }});">
{#                <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">#}
            </div>
            <h1 class="uk-article-title uk-text-contrast uk-margin-medium-bottom uk-width-1-2">Фотогалерея</h1>

{#            <p class="uk-article-lead ngp-text-indent">Компания выполняет полный цикл проектно-изыскательских работ:</p>#}

            <hr class="uk-article-divider">

            <div class="ngp-services uk-grid-width-1-3" data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-panel'}" data-uk-grid="{gutter: 20}">
                {% for image in selected_album.get_visible_images %}
                    <div>
                        <a class="uk-thumbnail" href="{{ image.picture.url }}" data-uk-lightbox="{group:'group'}" title="{{ image.title }}">
                            <img src="{{ image.picture.url }}" width="" height="" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% endblock %}
