<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <link rel="icon" href="favicon.ico">#}
        <title>{% block title %}{% endblock %}</title>
        {% include 'head.html' %}
        <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
        <script type="text/javascript">var map;DG.then(function(){map=DG.map('map',{center: [57.1452,65.5803],zoom:17});DG.marker([57.1452,65.5803]).addTo(map).bindPopup('<img src=\"http://mini.api.2gis.ru/upload/images/ver_0/ce/a7c282f37103e69c80.png\" width=\"200\" height=\"50\" />\nТел./факс:<br>+7(3452)69-99-13; 69-99-73; 69-99-74<br>e-mail: info@nipingp.ru');});</script>
        {% block expand_head %}{% endblock %}
    </head>
    <body class="ngp-body ngp-background">
        <!--HTML5 shim and Respond . js for IE8 support of HTML5 elements and media queries-->
        <!--[if lt IE 9]>
{#            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
        <![endif]-->

        <!-- Заголовок -->
        {% include 'header.html' %}

        <div class="uk-margin-large-bottom"></div>

        <!-- Контент -->
        {% block content %}{% endblock %}

        <div class="uk-margin-large-bottom"></div>

        <!-- Подвал -->
        {% include 'footer.html' %}

    </body>
</html>
