{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <link rel="icon" href="favicon.ico">#}
        <title>{% block title %}{% endblock %}</title>
        {% include 'head.html' %}
        <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
        <script type="text/javascript">var map;DG.then(function(){map=DG.map('map',{center: [57.1452,65.5803],zoom:17});DG.marker([57.1452,65.5803]).addTo(map).bindPopup('<img src=\"http://mini.api.2gis.ru/upload/images/ver_0/ce/a7c282f37103e69c80.png\" width=\"200\" height=\"50\" />\nТел./факс:<br>+7(3452)69-99-13; 69-99-73; 69-99-74<br>e-mail: info@nipingp.ru');});</script>
        {% block expand_head %}{% endblock %}
    </head>
    <body>
        <div class="uk-cover">
            <div class="uk-flex uk-flex-space-between ngp-background uk-visible-large" data-uk-sticky="{clsactive: 'ngp-not-z-index'}">
                <div class="uk-width-1-5">
{#                    <div class="uk-cover-background uk-height-viewport" style="background-image: url({% static 'basic/supervertical_banner_left.jpg' %});">#}
                    <div class="uk-cover-background uk-height-viewport" style="background-color: #B2B2B2;">
                    </div>
                </div>
                <div style="width:1200px;"></div>
                <div class="uk-width-1-5">
{#                    <div class="uk-cover-background uk-height-viewport" style="background-image: url({% static 'basic/supervertical_banner_right.jpg' %});">#}
                    <div class="uk-cover-background uk-height-viewport" style="background-color: #B2B2B2;">
                    </div>
                </div>
            </div>
            <div class="uk-position-cover">

                <!-- Заголовок -->
                {% include 'header.html' %}
                <!-- Контент -->
                {% block content %}{% endblock %}
                <!-- Подвал -->
                {% include 'footer.html' %}

            </div>
        </div>
    </body>
</html>
