{% extends 'base.html' %}
{% load show_dynamicpromo from promo_tags %}

{% block content %}
    <div class="included_content">
        <div class="maincontainer content-box effect">
            <div class="block">
                <div class="centered">
                    <img class="lazy" data-src="{% block image %}{% endblock %}" src="" style="width: 100%"/>
                </div>
            </div>
            <div class="img-container">
            </div>
            <div style="position: relative; bottom: 45px">
                <div class="ribbon-container2">
                    <div class="ribbon2">
                        <h3 style="text-transform: uppercase; margin: 10px 0;">
                            {% block page_tittle %}{% endblock %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8" style="text-indent: 60px;">
                        {% block text %}{% endblock %}
                        <div class="meta-info">
                            {% block date %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="panel" style="background-color: #B38C42">
                            {% show_dynamicpromo %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}