﻿<div class="uk-container uk-container-center">
    <div class="ngp-footer uk-block uk-block-secondary uk-contrast">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-match" data-uk-grid-margin>

{#                <div class="uk-width-medium-1-3">#}
{#                    <div class="uk-panel uk-flex uk-flex-center">#}
{#                        <div><p style="font-size: 24px;">ООО «НИПИ</p></div>#}
{##}
{#                        <br>#}
{#                        <div><p style="font-size: 24px;">«Нефтегазпроект»</p></div>#}
{##}
{#                    </div>#}
{#                </div>#}

                <div class="uk-width-medium-1-2">
                    <div class="uk-panel">
                        <h2>ООО "НИПИ "Нефтегазпроект"</h2>

                        <dl class="uk-description-list-horizontal footer-address uk-margin-medium-top">
                            <dt>Телефон:</dt><dd>+7 (3452) 69-99-13</dd>
                            <dt>Факс:</dt><dd>69-99-73; 69-99-74</dd>
                            <hr/>
                            <dt>Фактический адрес:</dt><dd>625027, г. Тюмень, ул.Мельникайте,д.70 (здание ТюмГНГУ), 4 эт., приемная - каб. 412</dd>
{#                            <hr/>#}
{#                            <dt>ПН-ЧТ:</dt><dd>8.45 - 18.00 ч.</dd>#}
{#                            <dt>ПТ:</dt><dd>8.45 - 16.45 ч.</dd>#}
{#                            <dt>СБ, ВС:</dt><dd>выходной</dd>#}
                        </dl>

                    </div>
                </div>

{#                <div class="uk-width-medium-1-3">#}
{#                    <div class="uk-panel uk-flex uk-flex-bottom">#}
{#                        <div class="uk-grid uk-width uk-flex-space-around uk-margin-remove">#}
{#                            <div class="uk-width uk-margin-bottom uk-text-center uk-padding-remove">#}
{#                                <h3>Иконки</h3>#}
{#                            </div>#}
{#                            <div>#}
{#                                <a href="#" class="uk-icon-hover uk-icon-medium uk-icon-github"></a>#}
{#                            </div>#}
{#                            <div>#}
{#                                <a href="#" class="uk-icon-hover uk-icon-medium uk-icon-twitter"></a>#}
{#                            </div>#}
{#                            <div>#}
{#                                <a href="#" class="uk-icon-button uk-icon-dribbble"></a>#}
{#                            </div>#}
{#                            <div>#}
{#                                <a href="#" class="uk-icon-button uk-icon-html5"></a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div class="uk-width-medium-1-2">
                    <div class="uk-panel">
                        <div id="map" style="width:100%;height:200px;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>