{% load test %}
{% load staticfiles %}

{% nav_content as text %}

<div class="uk-container uk-container-center">
    <nav class="ngp-nav uk-navbar uk-navbar-attached uk-margin-medium-bottom" data-uk-sticky>
        <div class="uk-grid uk-contrast" data-uk-grid-margin>
            <div class="uk-width-2-6">
                <div class="uk-panel uk-vertical-align" style="height: 120px;padding-right: 20px;">
                    <div class="uk-vertical-align-middle">
                        <a class="uk-hidden-small" style="padding-left: 15px;" href="/"><img src="{% static 'basic/logo_forWEB.png' %}" width="" height="" alt=""></a>
                    </div>
                </div>
{#                <div class="uk-panel uk-hidden-small uk-text-center">#}
{#                    <div class="uk-margin-small-top" style="padding-right: 20px;">#}
{#                        <a style="padding-left: 15px;" href="/"><img src="{% static 'basic/logo_forWEB.png' %}" width="" height="" alt=""></a>#}
{#                    </div>#}
{#                    <h4 class="ngp-tagline ngp-title uk-margin-small-top" style="padding-left: 12px;">Совершенные решения!</h4>#}
{#                </div>#}
            </div>
            <div class="uk-width-3-6 uk-flex uk-flex-center uk-padding-left-remove" style="padding-left: 5px;">
{#                <h3 class="uk-text-right uk-margin-small-bottom uk-margin-top uk-margin-right">{{ text.tel_number }}</h3>#}
                <div class="uk-panel uk-vertical-align" style="height: 120px;">
                    <div class="uk-vertical-align-bottom">
            <div class="uk-text-center">                    <h2 class="ngp-tagline ngp-title uk-margin-small-top">Совершенные решения!</h2></div>
{#                        <a href="#offcanvas-1" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>#}
                        <div class="uk-navbar-flip">
                            <ul class="uk-navbar-nav">
                                <li class="uk-parent" data-uk-dropdown>
                                    <a href="#">О компании</a>

                                    <div class="uk-dropdown uk-dropdown-navbar">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li><a href="/history/">История</a></li>
            {#                                <li class="uk-nav-divider"></li>#}
            {#                                <li><a href="#">Отделы</a></li>#}
                                        </ul>
                                    </div>

                                </li>
                                <li><a href="/services/">Услуги</a></li>
                                <li><a href="/projects/">Проекты</a></li>
                                <li class="uk-parent" data-uk-dropdown>
                                    <a href="#">Информация</a>

                                    <div class="uk-dropdown uk-dropdown-navbar">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li><a href="/gallery/">Фотогалерея</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/articles/">СМИ о нас</a></li>
            {#                                <li><a href="/gallery/">Научные публикации</a></li>#}
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/contacts/">Контакты</a></li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
            <div class="uk-width-1-6 uk-padding-remove">
                <div class="uk-panel uk-text-right uk-hidden-small" style="color: rgba(255, 255, 255, 0.8);padding-right: 20px;">
                    <p style="margin: 5px 0 1px 0;">+7 (3452) 69-99-13</p>
                    <p class="uk-margin-remove">69-99-73</p>
                    <p class="uk-margin-remove">69-99-74</p>
                    <a class="ngp-email uk-text-bold" href="mailto:info@nipingp.ru">info@nipingp.ru</a>
{#                    <dl class="uk-description-list-horizontal footer-adress">#}
{#                        <dt>Тел./факс:</dt><dd>+7 (3452) 69-99-13;69-99-73;69-99-74</dd>#}
{#                        <dt>e-mail:</dt><dd>info@nipingp.ru</dd>#}
{#                    </dl>#}
                </div>
            </div>
        </div>
    </nav>
</div>