{% load staticfiles %}
    
<link rel="stylesheet" href="{% static 'basic/css/uikit.almost-flat.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/components/slideshow.almost-flat.min.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/components/slidenav.almost-flat.min.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/components/slider.almost-flat.min.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/components/sticky.almost-flat.min.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/components/accordion.almost-flat.min.css' %}" />
<link rel="stylesheet" href="{% static 'basic/css/nipingp.css' %}" />
<script src="{% static 'basic/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'basic/js/uikit.min.js' %}"></script>
<script src="{% static 'basic/js/components/slideshow.js' %}"></script>
<script src="{% static 'basic/js/components/slider.js' %}"></script>
<script src="{% static 'basic/js/components/sticky.js' %}"></script>
<script src="{% static 'basic/js/components/lightbox.js' %}"></script>
<script src="{% static 'basic/js/components/slideset.js' %}"></script>
<script src="{% static 'basic/js/components/accordion.js' %}"></script>
<script src="{% static 'basic/js/components/grid.js' %}"></script>
