{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'basic/css/uikit.almost-flat.min.css' %}" />
		<link rel="stylesheet" href="{% static 'basic/css/components/slideshow.almost-flat.min.css' %}" />
		<link rel="stylesheet" href="{% static 'basic/css/components/slidenav.almost-flat.min.css' %}" />
        <link rel="stylesheet" href="{% static 'basic/css/components/slider.almost-flat.min.css' %}" />
		<link rel="stylesheet" href="{% static 'basic/css/nipingp.css' %}" />
        <script src="{% static 'basic/js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'basic/js/uikit.min.js' %}"></script>
		<script src="{% static 'basic/js/components/slideshow.js' %}"></script>
        <script src="{% static 'basic/js/components/slider.js' %}"></script>
    </head>

    <body class="ngp-body">
		<nav class="ngp-nav uk-navbar uk-navbar-attached uk-margin-large-bottom">
			<div class="uk-container uk-container-center uk-contrast">
				<h3 class="uk-text-right uk-margin-small-bottom uk-margin-top uk-margin-right">{{ contents_list.1.description }}</h3>
				<a href="#offcanvas-1" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
				<a class="uk-navbar-brand uk-hidden-small" href="">{{ contents_list.0.description }}</a>
				<div class="uk-navbar-flip">
					<ul class="uk-navbar-nav">
						<li><a href="">О компании</a></li>
						<li><a href="">Услуги</a></li>
						<li><a href="">Проекты</a></li>
						<li><a href="">Информация</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="uk-container uk-container-center">
			<div class="ngp-grid uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
				<div class="uk-width-medium-1-3">
					<div class="uk-panel uk-panel-box">
						<h3 class="uk-panel-title">{{ contents_list.2.description }}</h3>
						<p>
							{{ contents_list.3.description }}
						</p>
						<hr class="uk-article-divider">
						<p class="uk-text-bold uk-text-center">
							{{ contents_list.4.description }}
						</p>
					</div>
				</div>

				<div class="uk-width-medium-2-3">
					<div class="uk-panel uk-panel-box">
						<div class="uk-slidenav-position" data-uk-slideshow="{kenburns:'20s', autoplay:true, animation:'scale'}">
							<ul class="uk-slideshow uk-overlay-active">

                                {% for slide in top_slides %}
                                    <li>
                                        <img src="{{ slide.image.url }}" width="" height="" alt="{{ slide.title }}">
                                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                            <div>
                                                <h3>{{ slide.title }}</h3>
                                                <p>{{ slide.description }}</p>
                                            </div>
                                        </div>
								    </li>
                                {% endfor %}

							</ul>
							<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
							<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ngp-block-primary uk-block uk-block-primary uk-contrast uk-margin-large-top">
			<div class="uk-container uk-container-center uk-text-center">
				<h3>{{ contents_list.5.description }}</h3>
				<div class="uk-grid uk-grid-divider uk-margin-large-top" data-uk-scrollspy="{cls:'uk-animation-fade', target:'.uk-panel', delay:200, repeat: true}" data-uk-grid-margin>

                    {% for feature in feature_list %}
                        <div class="uk-width-medium-1-4">
                            <div class="uk-panel">
                                <h3 class="uk-panel-title">{{ feature.title }}</h3>
                                <p>{{ feature.description }}</p>
                            </div>
					    </div>
                    {% endfor %}

				</div>
			</div>
		</div>

		<div class="uk-container uk-container-center uk-margin-large-top">
			<h3 class="uk-text-center">{{ contents_list.6.description }}</h3>
			<ul class="ngp-grid uk-grid"  data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-thumbnail', delay:200}" data-uk-grid-margin>

                {% for info_block in info_blocks %}
                    <li class="uk-width-medium-1-3">
                        <div class="uk-thumbnail">
                            <figure class="uk-overlay uk-overlay-hover">
                                <div class="uk-cover-background uk-overlay-spin" style="background-image: url({{ info_block.image.url }});height:400px;">
                                    <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">
                                </div>
                                <div class="uk-overlay-panel uk-overlay-background uk-overlay-slide-top">
                                    <div>
{#                                        <h3>{{ info_block.title }}</h3>#}
                                        <p>{{ info_block.description }}</p>
                                    </div>
                                </div>
                                <a class="uk-position-cover" href="#"></a>
                            </figure>
                            <div class="uk-thumbnail-caption uk-text-large uk-text-bold uk-contrast">{{ info_block.title }}</div>
                        </div>
                    </li>

                    {% if forloop.counter == 3 %}
                        <li class="uk-width-medium-1-1">
                            <div class="uk-slidenav-position" data-uk-slider="{infinite: false}">
                                <div class="uk-slider-container">
                                    <ul class="uk-slider uk-grid-width-medium-1-2">

                                        {% for new in news_list %}
                                            <li>
                                                <div class="uk-panel">
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-3 uk-text-center">
                                                            <img src="{{ new.image.url }}" width="200" height="200" alt="{{ new.title }}">
                                                        </div>
                                                        <div class="uk-width-medium-2-3">
                                                            <h3 class="uk-panel-title">{{ new.title }}</h3>
                                                            <p>{{ new.description|truncatewords:50 }}</p>
                                                            <button class="uk-button">Подробнее</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                                <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}

			</ul>
		</div>

        <div class="uk-container uk-container-center">
			<h3 class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">{{ contents_list.7.description }}</h3>
			<div class="uk-grid uk-grid-width-medium-1-4 uk-flex-space-around uk-margin-large-bottom" data-uk-grid-margin>

                {% for leader in leaders_list %}
                    <div class="uk-text-center uk-animation-hover">
                        <div class="uk-thumbnail uk-overlay-hover uk-border-circle uk-animation-reverse uk-animation-scale">
                            <figure class="uk-overlay">
                                <img class="uk-border-circle" src="{{ leader.image.url }}" width="200" height="200" alt="{{ leader.name }}">
                                <div class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                                    <div>
                                        <i href="#" class="uk-icon-large uk-icon-file-text-o"></i>
                                    </div>
                                </div>
                                <a class="uk-position-cover" href="#" data-uk-modal="{target:'#modal-{{ forloop.counter }}'}"></a>
                            </figure>
                        </div>
                        <h3>{{ leader.name }}</h3>
                        <p class="uk-margin-top-remove uk-text-muted">{{ leader.position }}</p>
                        <div id="modal-{{ forloop.counter }}" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <button type="button" class="uk-modal-close uk-close"></button>
                                <div class="uk-modal-header">
                                    <h2>Биография</h2>
                                </div>
                                <div>{{ leader.biography }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

			</div>
		</div>

		<div class="ngp-footer uk-block uk-block-secondary uk-contrast uk-margin-top">
			<div class="uk-container uk-container-center">
				<div class="uk-grid uk-grid-match" data-uk-grid-margin>

					<div class="uk-width-medium-1-3">
						<div class="uk-panel uk-flex uk-flex-center">
							<dl class="uk-description-list-horizontal footer-adress">
								<dt>Адрес:</dt><dd>625027, г.Тюмень, ул.Мельникайте, 70</dd>
								<hr/>
								<dt>Тел:</dt><dd>+7 (3452) 69-99-13</dd>
								<dt>Факс:</dt><dd>+7 (3452) 69-99-74</dd>
								<hr/>
								<dt>e-mail:</dt><dd>info@nipingp.ru</dd>
								<hr/>
								<dt>Пн-Чт:</dt><dd>8.45 - 18.00 ч.</dd>
								<dt>Пт:</dt><dd>8.45 - 16.45 ч.</dd>
								<dt>Сб, Вс:</dt><dd>выходной</dd>
							</dl>
						</div>
					</div>

					<div class="uk-width-medium-1-3">
						<div class="uk-panel uk-flex uk-flex-bottom">
							<div class="uk-grid uk-width uk-flex-space-around uk-margin-remove">
								<div class="uk-width uk-margin-bottom uk-text-center uk-padding-remove">
									<h3>Иконки</h3>
								</div>
								<div>
									<a href="#" class="uk-icon-hover uk-icon-medium uk-icon-github"></a>
								</div>
								<div>
									<a href="#" class="uk-icon-hover uk-icon-medium uk-icon-twitter"></a>
								</div>
								<div>
									<a href="#" class="uk-icon-button uk-icon-dribbble"></a>
								</div>
								<div>
									<a href="#" class="uk-icon-button uk-icon-html5"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="uk-width-medium-1-3">
						<div class="uk-panel">

						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="offcanvas-1" class="uk-offcanvas">
			<div class="uk-offcanvas-bar">
				<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
					<li><a href="">Item</a></li>
					<li><a href="">Active</a></li>

					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="">Sub item</a></li>
							<li><a href="">Sub item</a>
								<ul>
									<li><a href="">Sub item</a></li>
									<li><a href="">Sub item</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="">Sub item</a></li>
							<li><a href="">Sub item</a></li>
						</ul>
					</li>

					<li><a href="">Item</a></li>

					<li class="uk-nav-header">Header</li>
					<li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
					<li><a href="#"><i class="uk-icon-twitter"></i> Item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#"><i class="uk-icon-rss"></i> Item</a></li>
				</ul>
			</div>
		</div>
    </body>
</html>