{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="uk-container uk-container-center">
    <div class="ngp-grid uk-grid uk-flex-center uk-flex-middle" data-uk-grid-margin>
        <div class="uk-width-large-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">{{ contents_list.2.description }}</h3>
                <p>
                    {{ contents_list.3.description }}
                </p>
            </div>
        </div>

        <div class="uk-width-large-2-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:'20s', autoplay:true, animation:'scale'}">
                    <ul class="uk-slideshow uk-overlay-active">

                        {% for slide in top_slides %}
                            <li>
                                <img src="{{ slide.image.url }}" width="" height="" alt="{{ slide.title }}">
                                <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <div>
                                        <h2>{{ slide.title }}</h2>
                                        <p>{{ slide.description }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-1">
            <div class="uk-panel uk-text-center">
                <h1 class="ngp-title ngp-tagline">{{ contents_list.4.description }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="ngp-block-primary uk-block uk-block-primary uk-contrast uk-margin-large-top uk-padding">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="ngp-title">{{ contents_list.5.description }}</h2>
        <div class="uk-grid uk-grid-divider uk-margin-large-top" data-uk-scrollspy="{cls:'uk-animation-fade', target:'.uk-panel', delay:200, repeat: true}" data-uk-grid-margin>

            {% for feature in feature_list %}
                <div class="uk-width-medium-1-{% if feature_list|length > 4 %}4{% else %}{{ feature_list|length }}{% endif %}">
                    <div class="uk-panel">
                        <h3 class="uk-panel-title">{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="uk-container uk-container-center uk-margin-large-top">
    <h2 class="ngp-title uk-text-center">{{ contents_list.6.description }}</h2>
    <ul class="ngp-grid uk-grid"  data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-thumbnail', delay:200}" data-uk-grid-margin>

        {% for info_block in info_blocks %}
            <li class="uk-width-medium-1-3">
                <div class="uk-thumbnail">
                    {% if forloop.counter <= 3 %}
                        <div class="uk-thumbnail-caption uk-text-large uk-text-bold uk-contrast">{{ info_block.title }}</div>
                    {% endif %}
                    <figure class="uk-overlay uk-overlay-hover">
                        <div class="ngp-info-block uk-cover-background uk-overlay-spin" style="background-image: url({{ info_block.image.url }});">
                            <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">
                        </div>
                        <div class="uk-overlay-panel uk-overlay-background {% if forloop.counter <= 3 %}uk-overlay-slide-top{% else %}uk-overlay-slide-bottom{% endif %}">
                            <div>
{#                                        <h3>{{ info_block.title }}</h3>#}
                                <p>{{ info_block.description }}</p>
                            </div>
                        </div>
                        <a class="uk-position-cover" href="#"></a>
                    </figure>
                    {% if forloop.counter > 3 %}
                        <div class="uk-thumbnail-caption uk-text-large uk-text-bold uk-contrast">{{ info_block.title }}</div>
                    {% endif %}
                </div>
            </li>

            {% if forloop.counter == 3 %}
                <li class="uk-width-medium-1-1">
                    <div class="uk-slidenav-position" data-uk-slider="{infinite: false}">
                        <div class="uk-slider-container">
                            <ul class="uk-slider uk-grid-width-medium-1-2">

                                {% for new in news_list %}
                                    <li>
                                        <div class="uk-panel">
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-3 uk-text-center">
                                                    <img src="{{ new.image.url }}" width="200" height="200" alt="{{ new.title }}">
                                                </div>
                                                <div class="uk-width-medium-2-3">
                                                    <h3 class="uk-panel-title">{{ new.title }}</h3>
                                                    <p>{{ new.description|truncatewords:50 }}</p>
                                                    <button class="uk-button">Подробнее</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                        <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}

    </ul>
</div>

<div class="uk-container uk-container-center">
    <h2 class="ngp-title uk-text-center uk-margin-large-top uk-margin-medium-bottom">{{ contents_list.7.description }}</h2>
    <div class="ngp-leadership uk-grid uk-grid-width-medium-1-4 uk-flex-space-around uk-margin-medium-bottom" data-uk-grid-margin>

        {% for leader in leaders_list %}
            <div class="uk-text-center uk-animation-hover">
                <div class="uk-thumbnail uk-overlay-hover uk-border-circle uk-animation-reverse uk-animation-scale">
                    <figure class="uk-overlay">
                        <img class="uk-border-circle" src="{{ leader.image.url }}" width="200" height="200" alt="{{ leader.name }}">
                        <div class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                            <div>
                                <i href="#" class="uk-icon-large uk-icon-file-text-o"></i>
                            </div>
                        </div>
                        <a class="uk-position-cover" href="#" data-uk-modal="{target:'#modal-{{ forloop.counter }}'}"></a>
                    </figure>
                </div>
                <h3>{{ leader.name }}</h3>
                <p class="uk-margin-top-remove uk-text-muted">{{ leader.position }}</p>
                <div id="modal-{{ forloop.counter }}" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <button type="button" class="uk-modal-close uk-close"></button>
                        <div class="uk-modal-header">
                            <h2>Биография</h2>
                        </div>
                        <div>{{ leader.biography }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<div id="offcanvas-1" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
            <li><a href="">Item</a></li>
            <li><a href="">Active</a></li>

            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Sub item</a></li>
                    <li><a href="">Sub item</a>
                        <ul>
                            <li><a href="">Sub item</a></li>
                            <li><a href="">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Sub item</a></li>
                    <li><a href="">Sub item</a></li>
                </ul>
            </li>

            <li><a href="">Item</a></li>

            <li class="uk-nav-header">Header</li>
            <li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
            <li><a href="#"><i class="uk-icon-twitter"></i> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><i class="uk-icon-rss"></i> Item</a></li>
        </ul>
    </div>
</div>

{% endblock %}
