{% extends 'base-cover.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="uk-container uk-container-center">
    <div class="ngp-grid uk-grid uk-flex-center uk-flex-middle" data-uk-grid-margin>
        <div class="uk-width-large-1-3">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title">{{ contents_list.2.description }}</h3>
                <p>
                    {{ contents_list.3.description }}
                </p>
            </div>
        </div>

        <div class="uk-width-large-2-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:'20s', autoplay:true, animation:'scale'}">
                    <ul class="uk-slideshow uk-overlay-active">

                        {% for slide in top_slides %}
                            <li>
                                <img src="{{ slide.image.url }}" width="" height="" alt="{{ slide.title }}">
                                <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <div>
                                        <h2>{{ slide.title }}</h2>
                                        <p>{{ slide.description }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-1">
            <div class="uk-panel uk-text-center">
                <h1 class="ngp-title ngp-tagline">{{ contents_list.4.description }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <h2 class="ngp-title">{{ contents_list.9.description }}</h2>
    <div class="uk-slidenav-position uk-margin-medium-top" data-uk-slider="{autoplay:true,infinite:false}">
        <div class="uk-slider-container">
            <ul class="uk-slider uk-grid-width-medium-1-2" style="z-index: inherit;">

                {% for new in news_list %}
                    <li>
                        <div class="uk-panel">
                            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 uk-text-center">
                                    <img src="{{ new.image.url }}" width="200" height="200" alt="{{ new.title }}">
                                </div>
                                <div class="uk-width-medium-2-3">
                                    <h3 class="uk-panel-title uk-margin-remove">{{ new.title }}</h3>
                                    <p style="margin-top: 5px;">{{ new.short_description }}</p>
                                    <button class="uk-button uk-button-primary" data-uk-modal="{target:'#new-{{ forloop.counter }}'}">Подробнее</button>
                                </div>
                            </div>
                        </div>

                        <div id="new-{{ forloop.counter }}" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <button type="button" class="uk-modal-close uk-close"></button>
                                <div class="uk-modal-header">
                                    <h2>{{ new.title }}</h2>
                                </div>
                                <div>
                                    <img src="{{ new.image.url }}" alt="{{ new.title }}">
                                    <p class="ngp-text-indent">{{ new.description }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
        <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
    </div>
</div>

<div class="uk-container uk-container-center uk-text-center">
    <div class="ngp-block-primary uk-block uk-block-primary uk-contrast uk-margin-large-top uk-padding">
        <h2 class="ngp-title">{{ contents_list.5.description }}</h2>
        <div class="uk-grid uk-grid-divider uk-margin-large-top uk-text-left" data-uk-scrollspy="{cls:'uk-animation-fade', target:'.uk-panel', delay:200, repeat: true}" data-uk-grid-margin>

            {% for feature in feature_list %}
                <div class="uk-width-medium-1-{% if feature_list|length > 4 %}4{% else %}{{ feature_list|length }}{% endif %}">
                    <div class="uk-panel">
                        {% if feature.image %}
                            <div class="uk-text-center">
                                <img src="{{ feature.image.url }}" width="" height="" alt="{{ feature.title }}">
                            </div>
                        {% endif %}
                        <h3 class="uk-panel-title">{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="uk-container uk-container-center uk-margin-large-top">
    <h2 class="ngp-title uk-text-center">{{ contents_list.6.description }}</h2>
    <ul class="ngp-grid uk-grid"  data-uk-scrollspy="{cls:'uk-animation-scale-up', target:'.uk-thumbnail', delay:200}" data-uk-grid-margin>

        {% for info_block in info_blocks %}
            <li class="uk-width-medium-1-3">
                <div class="uk-thumbnail">
                    {% if forloop.counter <= 3 %}
                        <div class="uk-thumbnail-caption uk-text-large uk-text-bold uk-contrast">{{ info_block.title }}</div>
                    {% endif %}
                    <figure class="uk-overlay uk-overlay-hover">
                        <div class="ngp-info-block uk-cover-background uk-overlay-spin" style="background-image: url({{ info_block.image.url }});">
                            <img class="uk-invisible" src="{{ info_block.image.url }}" width="" height="" alt="{{ info_block.title }}">
                        </div>
                        <div class="uk-overlay-panel uk-overlay-background {% if forloop.counter <= 3 %}uk-overlay-slide-top{% else %}uk-overlay-slide-bottom{% endif %}">
                            <div>
{#                                <h3>{{ info_block.title }}</h3>#}
                                <p>{{ info_block.description }}</p>
                                <div class="uk-text-center">
                                    {% for link in info_block.links_set.all %}
                                        <a class="uk-button uk-button-primary" href="{{ info_block.url }}">Подробнее</a>
                                        <a class="uk-button uk-button-primary" href="{{ info_block.url|slice:":-1" }}{{ link.url }}">{{ link.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if info_block.links_set.all|length == 0 %}
                            <a class="uk-position-cover" href="{{ info_block.url }}"></a>
                        {% endif %}
                    </figure>
                    {% if forloop.counter > 3 %}
                        <div class="uk-thumbnail-caption uk-text-large uk-text-bold uk-contrast">{{ info_block.title }}</div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}

    </ul>
</div>

<div class="uk-container uk-container-center">
    <h2 class="ngp-title uk-text-center uk-margin-large-top uk-margin-medium-bottom">{{ contents_list.7.description }}</h2>
    <div class="ngp-leadership uk-grid uk-grid-width-medium-1-4 uk-flex-space-around" data-uk-grid-margin>

        {% for leader in leaders_list %}
            <div class="uk-text-center uk-animation-hover">
                <div class="uk-thumbnail uk-overlay-hover uk-border-circle uk-animation-reverse uk-animation-scale">
                    <figure class="uk-overlay">
                        <img class="uk-border-circle" src="{{ leader.image.url }}" width="200" height="200" alt="{{ leader.name }}">
                        <div class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                            <div>
                                <i href="#" class="uk-icon-large uk-icon-file-text-o"></i>
                            </div>
                        </div>
                        <a class="uk-position-cover" href="#" data-uk-modal="{target:'#leader-{{ forloop.counter }}'}"></a>
                    </figure>
                </div>
                <h3 style="padding: 0 10px;">{{ leader.name }}</h3>
                <p class="uk-margin-top-remove uk-text-muted">{{ leader.position }}</p>
                <div id="leader-{{ forloop.counter }}" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <button type="button" class="uk-modal-close uk-close"></button>
                        <div class="uk-modal-header">
                            <h2>Биография</h2>
                        </div>
                        <div>{{ leader.biography }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<div class="uk-container uk-container-center uk-text-center">
    <div class="ngp-block-primary uk-block uk-block-primary uk-contrast uk-margin-large-top uk-padding">
        <h2 class="ngp-title">{{ contents_list.8.description }}</h2>
        <div class="uk-grid uk-grid-divider uk-margin-large-top uk-text-left" data-uk-scrollspy="{cls:'uk-animation-fade', target:'.uk-panel', delay:200, repeat: true}" data-uk-grid-margin>

            {% for principle in principles_list %}
                <div class="uk-width-medium-1-{% if principles_list|length > 4 %}4{% else %}{{ principles_list|length }}{% endif %}">
                    <div class="uk-panel">
                        {% if principle.image %}
                            <div class="uk-text-center">
                                <img src="{{ principle.image.url }}" width="" height="" alt="{{ principle.title }}">
                            </div>
                        {% endif %}
                        <h3 class="uk-panel-title">{{ principle.title }}</h3>
                        <p>{{ principle.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

{#<div class="uk-container uk-container-center">#}
{#    <div class="uk-slidenav-position uk-margin-top" data-uk-slideset="{small: 2, medium: 3, large: 4}">#}
{#        <ul class="uk-grid uk-grid-collapse uk-slideset">#}
{#            {% for image in image_list %}#}
{#                <li>#}
{#                    <figure class="uk-overlay uk-overlay-hover">#}
{#                        <div class="uk-cover-background uk-overlay-spin" style="background-image: url({{ image.picture.url }});height: 200px">#}
{#                            <img class="uk-invisible" src="{{ image.picture.url }}" width="" height="" alt="">#}
{#                        </div>#}
{#                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon"></div>#}
{#                        <a class="uk-position-cover" href="{{ image.picture.url }}" data-uk-lightbox="{group:'group1'}" title=""></a>#}
{#                    </figure>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>#}
{#        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>#}
{#    </div>#}
{#</div>#}

<div class="uk-container uk-container-center">
    <div class="uk-slidenav-position uk-margin-large-top uk-margin-medium-bottom" data-uk-slider="{autoplay:true,center:true}">
        <div class="uk-slider-container">
            <ul class="uk-slider uk-grid-width-large-1-4 uk-grid-width-medium-1-3 uk-grid-width-small-1-2">
            {% for image in image_list %}
                <li>
                    <figure class="uk-overlay uk-overlay-hover">
                        <div class="uk-cover-background uk-overlay-spin" style="background-image: url({{ image.picture.url }});height: 200px">
                            <img class="uk-invisible" src="{{ image.picture.url }}" width="" height="" alt="">
                        </div>
                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon"></div>
                        <a class="uk-position-cover" href="{{ image.picture.url }}" data-uk-lightbox="{group:'group2'}" title="{{ image.title }}"></a>
                    </figure>
                </li>
            {% endfor %}
            </ul>
        </div>
        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
    </div>
</div>

<div class="uk-container uk-container-center uk-text-center">
    <div data-uk-slideset="{default: 4}">
        <ul class="uk-grid uk-slideset">
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
</div>

<div id="offcanvas-1" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
            <li><a href="">Item</a></li>
            <li><a href="">Active</a></li>

            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Sub item</a></li>
                    <li><a href="">Sub item</a>
                        <ul>
                            <li><a href="">Sub item</a></li>
                            <li><a href="">Sub item</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Sub item</a></li>
                    <li><a href="">Sub item</a></li>
                </ul>
            </li>

            <li><a href="">Item</a></li>

            <li class="uk-nav-header">Header</li>
            <li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
            <li><a href="#"><i class="uk-icon-twitter"></i> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><i class="uk-icon-rss"></i> Item</a></li>
        </ul>
    </div>
</div>

{% endblock %}
