/* Container
 ========================================================================== */
.ngp-container {
  box-sizing: border-box;
  max-width: 900px;
  padding: 0 25px;
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .ngp-container {
    max-width: 900px;
    padding: 0 35px;
  }
}
/*
 * Micro clearfix
 */
.ngp-container:before,
.ngp-container:after {
  content: "";
  display: table;
}
.ngp-container:after {
  clear: both;
}
/*
 * Center container
 */
.ngp-container-center {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
	.footer-adress > dd {
		margin-left: 170px;
        margin-bottom: 10px;
	}
	.footer-adress > dt {
		width: 150px;
	}
}
.ngp-container p {
    text-align: justify;
}
.ngp-article .uk-article-title {
    font-size: 28px;
}
.ngp-article .uk-article-meta {
    font-size: 14px;
    color: #888888
}
.ngp-article p {
    font-size: 16px;
}
a.ngp-email {
    color: #F76353;
    text-decoration: none;
    border-bottom: 1px dashed #F76353;
}
a.ngp-email:hover {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px dashed #FFF;
}
.ngp-services p {
    text-align: left !important;
}
.ngp-services i {
    color: #C74032 !important;
}
.ngp-cover-background {
    height: 350px;
}
/* Modifier: `uk-list-striped`
 ========================================================================== */
.ngp-container .uk-list-striped > li {
  padding: 20px 10px;
  border-bottom: 1px dashed #dddddd;
}
.ngp-container .uk-list-striped > li:nth-of-type(odd) {
  background: #ECECEC;
}
.ngp-container .uk-list-striped > li:first-child {
  border-top: 1px dashed #dddddd;
}
/* Modifier: `uk-list-striped`
 ========================================================================== */
.ngp-projects .uk-list-striped > li {
  padding: 11px 10px;
  border-bottom: 1px dashed #dddddd;
}
.ngp-projects .uk-list-striped > li:nth-of-type(odd) {
  background: #ECECEC;
}
.ngp-projects .uk-list-striped > li:first-child {
  border-top: 1px dashed #dddddd;
}
/*
 * Items
 * 1. Create position context for dropdowns
 */
.ngp-projects .uk-tab > li > a {
  color: #C74032;
  text-decoration: underline;
}
.ngp-projects .uk-tab > li.uk-active > a {
  color: #444444;
  text-decoration: none;
}
.ngp-projects .uk-description-list-horizontal > dt {
  white-space: normal;
}
/* Color modifiers
 ========================================================================== */
/*
 * Modifier: `uk-button-primary`
 */
.uk-button-primary {
  background-color: #C74032;
  color: #ffffff;
}
/* Hover */
.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: #a91b0d;
  color: #ffffff;
}
/* Active */
.uk-button-primary:active,
.uk-button-primary.uk-active {
  background-color: #8d160b;
  color: #ffffff;
}
.ngp-container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    position: relative;
    color: #fff;
    /*margin: -30px 400px 30px -25px;*/
    margin: -30px -25px 30px -25px;
    padding: 15px;
    text-shadow: 0 1px rgba(0,0,0,.8);
    background: #C74032;
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}
.ngp-container h1:before, h1:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-color: transparent;
   bottom: -10px;
}
.ngp-container h1:before {
   border-width: 0 10px 10px 0;
   border-right-color: #222;
   left: 0;
}
/*.ngp-container h1:after {*/
       /*border-width: 0 0 10px 10px;*/
       /*border-left-color: #222;*/
       /*right: 0;*/
/*}*/
.ngp-container h2 {
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    color: #fff;
    /*margin: -30px 400px 30px -25px;*/
    margin: -30px -25px 30px -25px;
    padding: 10px 20px;
    text-shadow: 0 1px rgba(0,0,0,.8);
    background: #C74032;
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}
.ngp-container h2:before, h2:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-color: transparent;
   bottom: -10px;
}
.ngp-container h2:before {
   border-width: 0 10px 10px 0;
   border-right-color: #222;
   left: 0;
}
.ngp-container h2:after {
       border-width: 0 0 10px 10px;
       border-left-color: #222;
       right: 0;
}
.ngp-background {
	background: url('../cubes.png');
}
.ngp-nav {
	background-color: #3D4548;
}
.ngp-tagline {
    /*color: #f54f3f !important;*/
    /*text-shadow: 0px 0px 6px rgba(199,64,50,0.7);*/
    color: #fff !important;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    letter-spacing: 5px;
    font-weight: bold;
}
.ngp-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: bold;*/
    /*text-shadow: 0px 0px 6px rgba(199,64,50,0.7);*/
}
.ngp-block-primary .ngp-title {
    /*font-weight: bold;*/
}
.ngp-info-block {
    height:350px;
}
.ngp-grid .uk-panel-box {
	background-color: #FFFFFF;
}
.ngp-grid .uk-thumbnail {
	background-color: #C74032;
    padding: 1px;
}
.ngp-leadership .uk-thumbnail {
    border: 1px solid #C74032;
}
.ngp-grid .uk-thumbnail-caption {
	padding: 10px;
}
.ngp-grid .uk-contrast {
	color: #F4F4F4;
}
.ngp-block-primary {
	background-color: #848484;
    padding: 30px;
}
.ngp-block-primary h2 {
    /*color: #C74032;*/
}
.ngp-footer {
    padding: 25px 0;
	background-color: #3D4548;
}
.ngp-footer hr {
    margin: 5px 0;
}
.ngp-not-z-index {
    z-index: 0;
}
.ngp-text-indent {
    text-indent: 50px;
}
/*
 * Padding
 */
.uk-padding {
  padding-bottom: 25px;
}
* + .uk-padding {
  padding-top: 25px;
}
/*
 * Medium margins
 */
.uk-margin-medium {
  margin-bottom: 25px;
  margin-top: 25px;
}
* + .uk-margin-medium {
  margin-top: 25px;
}
.uk-margin-medium-top {
  margin-top: 25px !important;
}
.uk-margin-medium-bottom {
  margin-bottom: 25px !important;
}
.uk-margin-medium-left {
  margin-left: 25px !important;
}
.uk-margin-medium-right {
  margin-right: 25px !important;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Also apply if dropdown is opened
 * 3. Remove default focus style
 */
.ngp-nav  .uk-navbar-nav > li:hover > a,
.ngp-nav .uk-navbar-nav > li > a:focus,
.ngp-nav .uk-navbar-nav > li.uk-open > a {
  background-color: #C74032;
  color: #fff;
  /* 3 */
  outline: none;
  text-decoration: none;
}
/* OnClick */
.ngp-nav .uk-navbar-nav > li > a:active {
  background-color: #a91b0d;
  color: #fff;
}
/* Active */
.ngp-nav .uk-navbar-nav > li.uk-active > a {
  background-color: #a91b0d;
  color: #fff;
}
/* Sub-objects: `uk-navbar-brand`
 ========================================================================== */
.ngp-nav .uk-navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
/*
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.ngp-nav .uk-navbar-brand:hover,
.ngp-nav .uk-navbar-brand:focus {
  color: #fff;
  text-decoration: none;
  /* 2 */
  outline: none;
}
.ngp-nav .uk-dropdown {
  padding: 15px;
  background: #C74032;
  color: #444444;
  /* 1 */
  font-size: 1rem;
  vertical-align: top;
  border: none;
  /*border-radius: inherit;*/
}
.ngp-nav .uk-navbar-nav > li > a {
  font-size: 16px;
  text-shadow: none;
  /*padding: 0 10px;*/
  color: rgba(255, 255, 255, 0.8);
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.ngp-nav .uk-dropdown li > a:hover,
.ngp-nav .uk-dropdown li > a:focus {
  background: #a91b0d;
  color: #ffffff;
  /* 2 */
  outline: none;
}
.ngp-block-primary .uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
.ngp-block-primary .uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) {
  border-left: 1px dashed #dddddd;
}
/* Tablet and bigger */
@media (min-width: 768px) {
.ngp-block-primary .uk-grid-divider > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) {
    border-left: 1px dashed #dddddd;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
.ngp-block-primary.uk-grid-divider > [class*='uk-width-large-']:not(.uk-width-large-1-1):nth-child(n+2) {
    border-left: 1px dashed #dddddd;
  }
}
/*
 * Vertical divider
 */
.ngp-block-primary .uk-grid-divider:empty {

  border-top: 1px dashed #dddddd;
}